@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-family: "Nunito Sans", sans-serif;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

.animation:active {
  transition: all 0.5s linear;
}
